<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/pic/favicon.ico">
  <link rel="stylesheet" href="css/equipo.css">
  <link rel="stylesheet" href="css/navbar.css">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
  <title>Equipo</title>
</head>
<body>
    <div id="tapa">
        <img id="foto" src="pic/laliga.png">
        </div>

    <div class="main">

        <div id="navbar" class="navbar">
            <img class="liga" src="pic/logoLIGA.png" onclick="window.location.href='/'"">
            <div class="user">
            <button class="login" id="nombreUsuario" onclick="window.location.href='/login'"></button>
            <img class="pais" id="pais" src="">        
        </div>
        </div>
    <div id="general">
    <div id="datos"></div>
    <div id="jugadores"></div>
    </div>

    <div id ="nuevoDiv">
    <div id="DIVdatos"></div>
    <div id="DIVfoto"></div>
    </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/equipo.js"></script>
<script src="js/general.js"></script>
<script src="js/username.js"></script>



</html>
