body{
    margin: 0;
    padding: 0;
    background-color: rgb(238, 238, 238);
}

*{
    font-family: "M PLUS Code Latin", monospace;
}
.main{
    text-align: center;
}

.formulario{
    justify-content: center;
    margin-top:60px;
}

form{
    background-color: #ffffff;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 5px;
    border-width: 1px;
    width: 300px;
    overflow: hidden;
    margin-top:50px;
}

form input{
    font-size: 25px;
    transition: all 0.2s;
    padding: 10px;
    background-color: aliceblue;
    border-color: rgb(112, 112, 112);
    border-radius: 5px;
    border-width: 1px;
    margin-bottom: 10px;
}

form input:hover{
    background-color: rgb(204, 204, 204);
}


form select{
    font-size: 25px;
    transition: all 0.2s;
    padding: 10px;
    background-color: aliceblue;
    border-color: rgb(112, 112, 112);
    border-radius: 5px;
    border-width: 1px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
}
form select:hover{
    background-color: rgb(204, 204, 204);
}

.enviar{
    background: linear-gradient(90deg, rgba(255,78,78,1) 0%, rgba(255,88,88,1) 61%);
    border-style: solid;
    border-color: rgb(112, 112, 112);
    border-radius: 5px;
    border-width: 1px;
    transition: all 0.5s;
    color:white;
    width: 100%;
}


form button{
    background-color: aliceblue;
    border-style: solid;
    margin-bottom: 5px;
    font-size: 25px;
    border-radius: 5px;
    border-width: 1px;
}

.select{
    background: linear-gradient(90deg, rgba(255,78,78,1) 0%, rgba(255,88,88,1) 61%);

}
.botones{
    margin-bottom: 20px;

}


.jugador{
    margin: 20px;
    width: 250px;
    border-style: solid;
    display: inline-block;
    text-align: center;
    background-size: cover;
    background-position: center center; 
}

.jugador_{
    background-color: #ffffff5e;
}

.plantillaData{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fotoJugador{
    width: 250px;
    margin: 0;
}

.jugadorDatos{
    width: 250px;
    height: 400px;
    font-size: 15px;
}
.cargoJugador{
    background-color: #f5433c;
    font-size: 30px;
    margin: 0;

}

.posicionDIV{
    background-color: #f5433c;
    display: inline-block;
    width: 100%;
    margin: 0;    
}


.posicionJugador{
    font-size: 30px;
    margin: 0;
}
